<%= form_with model: @person do |form| %>
  <div class="container">
    <div class="field">
      <%= form.text_field :first_name, class: 'input', placeholder: t("people.field.first_name") %>
    </div>

    <div class="block">
      <%= form.text_field :middle_name, class: 'input', placeholder: t("people.field.middle_name") %>
    </div>

    <div class="block">
      <%= form.text_field :last_name, class: 'input', placeholder: t("people.field.last_name") %>
    </div>

    <div class="block">
      <%= form.text_field :user_name, class: 'input', placeholder: t("people.field.user_name")%>
    </div>

    <div class="block">
      <%= form.text_field :nationality, class: 'input', placeholder: t("people.field.nationality") %>
    </div>

    <div class="block">
      <%= form.text_field :birth_date, class: 'input', placeholder: t("people.field.birth_date") %>
    </div>

    <div class="block">
      <%= form.text_field :currently_working_as, class: 'input', placeholder: t("people.field.currently_working_as") %>
    </div>

    <div class="block">
      <%= form.text_field :currently_working_at, class: 'input', placeholder: t("people.field.currently_working_at") %>
    </div>

    <div class="block">
      <%= form.text_field :currently_living_in, class: 'input', placeholder: t("people.field.currently_living_in") %>
    </div>

    <div class="block">
      <%= form.label t('people.field.is_privately_wanted') %>
      <%= form.check_box :is_privately_wanted, class: 'checkbox' %>
    </div>

    <div class="block">
      <%= form.label t('people.field.is_publicly_wanted') %>
      <%= form.check_box :is_publicly_wanted, class: 'checkbox' %>
    </div>

    <div class="block">
      <%= form.label t('people.field.is_dangerous') %>
      <%= form.check_box :is_dangerous, class: 'checkbox' %>
    </div>

    <div class="select">
      <%= form.select :gender, [t('people.field.select_options.male'), t("people.field.select_options.female"), t("people.field.select_options.other")] %>
    </div>

    <div class="block">
      <%= form.text_field :last_seen_date, class: 'input', placeholder: t("people.field.last_seen_date") %>
    </div>

    <div class="block">
      <%= form.text_field :last_seen_place, class: 'input', placeholder: t("people.field.last_seen_place") %>
    </div>

    <div class="block">
      <%= form.submit t("button.submit"), class: "button is-info" %>
    </div>
  </div>
<% end %>