<%= form_with model: @person do |form| %>
  <div class="container">
    <div class="field">
      <%= form.text_field :first_name, class: 'input', placeholder: 'Test' %>
    </div>

    <div class="block">
      <%= form.text_field :middle_name, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.text_field :last_name, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.text_field :user_name, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.text_field :nationality, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.text_field :birth_date, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.text_field :currently_working_as, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.text_field :currently_working_at, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.text_field :currently_living_in, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.check_box :is_privately_wanted, class: 'checkbox' %><br>
    </div>

    <div class="block">
      <%= form.check_box :is_publicly_wanted, class: 'checkbox' %><br>
    </div>

    <div class="block">
      <%= form.check_box :is_dangerous, class: 'checkbox' %><br>
    </div>

    <div class="block">
      <%= form.select :gender, %w[Male Female Other],  class: 'select' %><br>
    </div>

    <div class="block">
      <%= form.text_field :last_seen_date, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.text_field :last_seen_place, class: 'input', placeholder: 'Test' %><br>
    </div>

    <div class="block">
      <%= form.submit %>
    </div>
  </div>
<% end %>