<h1><%= t('people.page_name.index') %></h1>
<% if current_user %>
  <%= current_user.email %>
  <%= current_user.role %>
  <%= current_user.admin? %>
<% end %>
<ul>
  <% @people.each do |people| %>
    <li>
      <%= link_to people.first_name, people %>
    </li>
  <% end %>

  <%= link_to t('people.page_name.create'), new_person_path %>
</ul>
