<h2><%= I18n.t('page.network.create') %></h2>
<div class="card">
  <div class="card-content">
    <%= form_with model: [ @person, @person.networks.build ] do |form| %>
      <%= form.text_field :twitter, class: 'input is-info is-small'%>
      <%= form.text_field :instagram, class: 'input is-info is-small' %>
      <%= form.text_field :facebook, class: 'input is-info is-small' %>
      <%= form.text_field :whatsapp, class: 'input is-info is-small' %>
      <%= form.text_field :snapchat, class: 'input is-info is-small' %>
      <%= form.text_field :discord, class: 'input is-info is-small' %>
      <%= form.text_field :pinterest, class: 'input is-info is-small' %>
      <%= form.text_field :apple, class: 'input is-info is-small' %>
      <%= form.text_field :google, class: 'input is-info is-small' %>
      <%= form.text_field :microsoft, class: 'input is-info is-small' %>
      <%= form.text_field :mastodon, class: 'input is-info is-small' %>
      <%= form.text_field :twitch, class: 'input is-info is-small' %>
      <%= form.text_field :kick, class: 'input is-info is-small' %>
      <%= form.text_field :adobe, class: 'input is-info is-small' %>
      <%= form.text_field :bereal, class: 'input is-info is-small' %>
      <%= form.submit I18n.t('button.submit'), class: 'button is-info' %>
    <% end %>
  </div>
</div>
