<h2><%= I18n.t('page.network.index') %></h2>

<div>
  <h5><%= I18n.t('activerecord.attributes.network.twitter') %></h5>
  <% @person.networks.each do |network| %>
    <ul>
      <% if network.twitter.present? %>
        <li><%= network.twitter %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <h5><%= I18n.t('activerecord.attributes.network.instagram') %></h5>
  <% @person.networks.each do |network| %>
    <ul>
      <% if network.instagram.present? %>
        <li><%= network.instagram %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<h5><%= I18n.t('activerecord.attributes.network.facebook') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.facebook.present? %>
      <li><%= network.facebook %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.whatsapp') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.whatsapp.present? %>
      <li><%= network.whatsapp %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.snapchat') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.snapchat.present? %>
      <li><%= network.snapchat %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.discord') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.discord.present? %>
      <li><%= network.discord %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.pinterest') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.pinterest.present? %>
      <li><%= network.pinterest %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.apple') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.apple.present? %>
      <li><%= network.apple %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.google') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.google.present? %>
      <li><%= network.google %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.microsoft') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.microsoft.present? %>
      <li><%= network.microsoft %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.mastodon') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.mastodon.present? %>
      <li><%= network.mastodon %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.twitch') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.twitch.present? %>
      <li><%= network.twitch %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.kick') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.kick.present? %>
      <li><%= network.kick %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.adobe') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.adobe.present? %>
      <li><%= network.adobe %></li>
    <% end %>
  </ul>
<% end %>

<h5><%= I18n.t('activerecord.attributes.network.bereal') %></h5>
<% @person.networks.each do |network| %>
  <ul>
    <% if network.bereal.present? %>
      <li><%= network.bereal %></li>
    <% end %>
  </ul>
<% end %>
