<% @person.networks.each do |network| %>
  <ul class="list-group">
    <% unless network.twitter.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.twitter') %>: </strong>
        <%= network.twitter %>
      </li>
    <% end %>

    <% unless network.instagram.blank?%>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.instagram') %>: </strong>
        <%= network.instagram %>
      </li>
    <% end %>

    <% unless network.facebook.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.facebook') %>: </strong>
        <%= network.facebook %>
      </li>
    <% end %>

    <% unless network.whatsapp.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.whatsapp') %>: </strong>
        <%= network.whatsapp %>
      </li>
    <% end %>

    <% unless network.tiktok.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.tiktok') %>: </strong>
        <%= network.tiktok %>
      </li>
    <% end %>

    <% unless network.snapchat.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.snapchat') %>: </strong>
        <%= network.snapchat %>
      </li>
    <% end %>

    <% unless network.discord.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.discord') %>: </strong>
        <%= network.discord %>
      </li>
    <% end %>

    <% unless network.pinterest.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.pinterest') %>: </strong>
        <%= network.pinterest %>
      </li>
    <% end %>

    <% unless network.apple.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.apple') %>: </strong>
        <%= network.apple %>
      </li>
    <% end %>

    <% unless network.google.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.google') %>: </strong>
        <%= network.google %>
      </li>
    <% end %>

    <% unless network.microsoft.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.microsoft') %>: </strong>
        <%= network.microsoft %>
      </li>
    <% end %>

    <% unless network.mastodon.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.mastodon') %>: </strong>
        <%= network.mastodon %>
      </li>
    <% end %>

    <% unless network.twitch.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.twitch') %>: </strong>
        <%= network.twitch %>
      </li>
    <% end %>

    <% unless network.kick.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.kick') %>: </strong>
        <%= network.kick %>
      </li>
    <% end %>

    <% unless network.adobe.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.adobe') %>: </strong>
        <%= network.adobe %>
      </li>
    <% end %>

    <% unless network.bereal.blank? %>
      <li class="list-group-item">
        <strong><%= I18n.t('activerecord.attributes.network.bereal') %>: </strong>
        <%= network.bereal %>
      </li>
    <% end %>
  </ul>
<% end %>